:root {
    --brand-color-ch-primary-active: #adf03a;
    --brand-color-ch-primary-hover: #bff06a;
    --brand-color-ch-primary-pale: #d0f09a;
    --brand-color-ch-primary-press: #a8f02b;

    --black-primary-active: #1d1d1d;
    --black-primary-hover: #474747;
    --black-primary-pale: color-mix(in oklab, #1d1d1d, white 65%);
    --black-primary-press: #1f1f1f;

    --black-secondary-active: #4d4d4d;
    --black-secondary-hover: #757575;
    --black-secondary-pale: color-mix(in oklab, #1d1d1d, white 65%);
    --black-secondary-press: #333333;

    --red-primary-active: #980e08;
    --red-primary-hover: #ff7878;
    --red-primary-pale: #ffabab;
    --red-primary-press: #ff3636;

    --white-primary-active: #ffffff;
    --white-primary-hover: #f5f5f5;

    --color-primary: #14214d;
    --color-primary-hover: #1e2c5a;
    --color-white-hover: #ededed;

    --color-backgroud: #f2f6fb;
}
