:root {
    --brand-color-ch-primary-active: #adf03a;
    --brand-color-ch-primary-hover: #bff06a;
    --brand-color-ch-primary-pale: #d0f09a;
    --brand-color-ch-primary-press: #a8f02b;

    --black-primary-active: #14214d;
    --black-primary-hover: color-mix(in oklab, #14214d, white 33%);
    --black-primary-pale: color-mix(in oklab, #14214d, white 65%);
    --black-primary-press: color-mix(in oklab, #14214d, white 33%);

    --black-secondary-active: #14214d;
    --black-secondary-hover: color-mix(in oklab, #14214d, white 33%);
    --black-secondary-pale: color-mix(in oklab, #14214d, white 65%);
    --black-secondary-press: color-mix(in oklab, #14214d, black 33%);

    --red-primary-active: #980e08;
    --red-primary-hover: #ff7878;
    --red-primary-pale: #ffabab;
    --red-primary-press: #ff3636;

    --white-primary-active: #ffffff;
    --white-primary-hover: #f5f5f5;

    --color-primary: #14214d;
    --color-primary-hover: #616a88;
    --color-primary-bg-hover: #1e2c5a;

    --color-white-bg-hover: #eff5fb;
    --color-hover-on-white-bg: #eff5fb;

    --color-backgroud: #f2f6fb;
}
