* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    font-family: inherit;

    svg path {
        fill: currentColor;
    }
}

button:disabled {
    cursor: initial;
}

img,
svg {
    display: block;
}

input,
textarea {
    /* display: block; */
    border: none;
    outline: none;
    background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
