* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

button:disabled {
    cursor: initial;
}

img,
svg {
    display: block;
}

input,
textarea {
    /* display: block; */
    border: none;
    outline: none;
    background: none;
}
