.button {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 2px solid currentColor;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.14px;
    color: var(--color-primary);

    &:hover {
        color: var(--color-primary-hover);
    }

    &.delete {
        color: #980e08;
        &:hover {
            color: #980e08;
            opacity: 0.7;
        }
    }

    &.contained {
        border: none;
        background: var(--color-primary);
        color: white;

        &:hover {
            background: var(--color-primary-hover);
        }
    }
}
