.array {
    /*  background-color: #fff;
    margin-top: 24px;
    
    border: 1px solid #d8e4f3;
    border-bottom: none; */

    overflow: hidden;
    margin-bottom: 40px;
}
.text {
    color: #14214d;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: 0.4px;
}
.container {
    margin-left: 40px;
    border: 1px solid #d8e4f3;
    border-bottom: none;
    border-radius: 8px;
    border-top-left-radius: 0;
    width: 972px;
    background-color: #fff;
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8e4f3;
    color: #14214d;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    letter-spacing: 0.32px;
    padding-bottom: 14px;
    padding-top: 14px;
}
.headerUser {
    margin-left: 20px;
}
.headerProgres {
    margin-left: 406px;
}
.headerDate {
    margin-left: 104px;
}
