.body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    background-color: #14214d;
    width: 50vw;
    height: 100vh; /* 
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center; */
}
.right {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.loginWindow {
    margin-left: 140px;
}
.logo {
    margin-top: 24px;
    margin-left: 40px;
}
