.menuItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    margin: 0 -16px;
    border-radius: 4px;
    color: var(--black-primary-pale);

    font-size: 16px;
    font-weight: 700;

    transition: all var(--hover-transition);

    &:first-child {
        margin-top: -8px;
    }

    &.active {
        color: var(--white-primary-active);
    }

    &.collapsed {
        margin: 4px -8px;
        padding: 4px 8px;
        border-radius: 8px;

        &:first-child {
            margin-top: -4px;
        }
    }

    &:hover {
        background: var(--black-primary-hover);
        color: var(--white-primary-hover);

        .counter {
            background: var(--brand-color-ch-primary-hover);
            color: var(--black-primary-hover);
        }
    }

    svg path {
        fill: currentColor;
    }
}

.counter {
    border-radius: 8px;
    padding: 5px 12px;
    margin: -5px 0 -5px auto;
    background: var(--brand-color-ch-primary-active);
    color: var(--black-primary-active);
}

.arrow {
    margin-left: auto;
    transition: transform var(--transform-transition);

    &.rotated {
        transform: rotate(-180deg);
    }
}
