.container {
    /*  position: absolute;
    top: -177px; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    /* background: rgba(29, 29, 27, 0.43); */
    z-index: 7;
}
.content {
    display: flex;
    flex-direction: column;
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    width: 640px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #d8e4f3;
    color: #14214d;

    /* Desktop/H3 */
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: 0.48px;
}
.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    cursor: pointer;
    &:hover {
        background-color: #eff5fb;
    }
}
.contentAnimation {
    width: 72px;
    height: 72px;
    svg path[stroke] {
        stroke: #14214d;
    }
}
.contentText {
    color: #14214d;
    text-align: center;
    width: 305px;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}
.button {
    margin-bottom: 40px;
}
