.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 48px;
    background: #14214d;
    /*  box-shadow: 0px 0px 12px rgba(38, 38, 38, 0.12); */
    border-radius: 8px;
    color: var(--text-button, #fff);

    /* Desktop/Button/Button-primary */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
    &:hover {
        background: color-mix(in oklab, #14214d, white 33%);
        color: white;
    }
    &:active {
        background: color-mix(in oklab, #14214d, #000000 26%);
        color: white;
    }
    &:disabled {
        background: color-mix(in oklab, #14214d, white 72%);
        color: white;
    }

    svg path {
        fill: none;
    }
    &.skinny {
        height: 35px;
        color: #fff;

        /* Desktop/Button/Button-secondary */
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.14px;
        border-radius: 4px;
    }
}
.animation {
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;

    svg path {
        stroke: currentColor;
        fill: currentColor;
    }

    svg path[stroke] {
        stroke: currentColor;
    }
}
