.container {
    background-color: #fff;
    margin-left: 40px;
    margin-right: 28px;
    margin-top: 28px;
    overflow: hidden;
    border: 1px solid #d8e4f3;
    border-bottom: none;
    border-radius: 8px;
    width: 972px;
}
