.container {
    width: auto;
    height: 88px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
        border-bottom: 1px solid #d8e4f3;
    }

    &:hover {
        background-color: #eff5fb;
    }
    &:has(.tg:hover) {
        background: white;
    }
}
.img {
    width: 52px;
    height: 52px;
    border-radius: 26px;
}
.imgBlock {
    margin-left: 20px;
}
.text {
    margin-left: 16px;
}
.role {
    color: rgba(29, 29, 27, 0.6);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.12px;
    user-select: text;
}
.name {
    color: var(--, #14214d);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-top: 6px;
    user-select: text;
}
.tg {
    margin-right: 40px;
    margin-left: auto;
    opacity: 1;
    &:hover {
        opacity: 0.67;
    }
}
