.inputContainer {
    position: relative;
    width: 100%;
    height: 56px;

    &:hover {
        .inputLabel {
            color: var(--black-primary-hover, #474747);
        }

        .inputBorder:not(.active, .error) {
            border: 1px solid var(--black-secondary-hover, #757575);
        }
    }
}
.inputBorder {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: 1px solid var(--black-secondary-pale, #757575);
    border-radius: 8px;
    transition: border-color 0.3s ease;

    &.active {
        border: 1px solid var(--black-secondary-active);
    }

    &.error {
        border: 1px solid var(--red-primary-active);
    }
}
.inputLabel {
    position: absolute;
    top: 16px;
    left: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    transition:
        top 0.1s,
        font-size 0.1s;
    pointer-events: none;
    color: var(--black-secondary-pale);

    &.active {
        top: 7px;
        font-size: 12px;
    }
}

.passShow {
    width: 24px;
    height: 24px;
    cursor: pointer;
    svg path {
        fill: var(--black-primary-pale);
    }
    svg path[stroke] {
        stroke: var(--black-primary-pale);
    }

    &:hover {
        svg path {
            fill: var(--black-primary-hover);
        }
        svg path[stroke] {
            stroke: var(--black-primary-hover);
        }
    }
}
.passShowBlock {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    svg path {
        fill: var(--black-primary-pale);
    }
    svg path[stroke] {
        stroke: var(--black-primary-pale);
    }
    &:hover {
        background-color: var(--white-primary-hover);
        svg path {
            fill: var(--black-primary-hover);
        }
        svg path[stroke] {
            stroke: var(--black-primary-hover);
        }
    }
}
.input {
    width: 100%;
    height: 100%;
    padding: 16px 58px 0 20px;
    border-radius: 8px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-primary-active);
}

.passShow {
    width: 24px;
    height: 24px;
}
