.inputContainer {
    position: relative;
    width: 100%;
    height: 56px;

    &:hover {
        .inputLabel {
            color: var(--black-primary-hover, #474747);
        }

        .inputBorder:not(.active, .error) {
            border: 1px solid var(--black-secondary-hover, #757575);
        }
    }
}

.inputBorder {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: 1px solid var(--black-secondary-pale);
    border-radius: 8px;
    transition: border-color 0.3s ease;

    &.active {
        border: 2px solid var(--black-primary-active);
    }

    &.error {
        border: 1px solid var(--red-primary-active);
    }
}

.inputLabel {
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition:
        top 0.1s,
        font-size 0.1s;
    pointer-events: none;
    color: var(--black-secondary-pale);

    &.active {
        top: 7px;
        font-size: 12px;
    }
}

.input {
    width: 100%;
    height: 100%;
    padding: 18px 20px 0 20px;
    border-radius: 8px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-primary-active);
}

.wrongEmail {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--red-primary-active);
    margin-top: 8px;
}

.passShow {
    width: 24px;
    height: 24px;
}

.passShowBlock {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 18px;

    svg path {
        fill: var(--red-primary-active);
    }

    svg path[stroke] {
        stroke: var(--red-primary-active);
    }
}
