.container {
    margin-top: 28px;
    position: relative;
}
.headBlock {
    padding-left: 40px;
    display: flex;
    padding-bottom: 28px;
    border-bottom: 1px solid #d8e4f3;
}
.sortedBlock {
    margin-left: 32px;
    margin-top: 8px;
    position: relative;
}
.sort {
    display: flex;
    align-items: center;
    padding: 8px 9px;
    gap: 8px;
    color: #14214d;

    /* Desktop/Button/Button-primary */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
    cursor: pointer;

    &:hover {
        border-radius: 4px;

        background: #d8e4f3;
    }
}
.sortedBy {
    position: absolute;
    width: 203px;
    top: 60px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(20, 33, 77, 0.07);
    padding: 20px 8px;
    color: color-mix(in oklab, #14214d, white 65%);

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.sortedItem {
    cursor: pointer;
    padding: 4px 12px;
    &:hover {
        border-radius: 4px;
        background: #d8e4f3;
    }
    &.active {
        color: #14214d;
    }
}
