.container {
    margin-left: 40px;
    margin-top: 28px;
}
.header {
    color: #14214d;

    /* Desktop/H3 */
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: 0.48px;
}
.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 573px;
    overflow: hidden;
}
.course {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 12px 16px;
    border-radius: 4px;
    border-bottom: 1px solid #d8e4f3;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.32px;
    color: var(--color-primary);
    width: 100%;
    &:hover {
        background: #eff5fb;
    }

    &:has(.deleteButton:hover) {
        background: white;
    }

    .deleteButton {
        margin-left: auto;
    }

    svg path {
        fill: currentColor;
    }
}
.deadLine {
    color: #14214d;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    letter-spacing: 0.32px;
    margin-left: auto;
}
.content {
    display: flex;
    margin-top: 24px;
    gap: 20px;
    margin-bottom: 40px;
}
.rightContainer {
    width: 379px;
    /* border-bottom: ; */
}
.progress {
    width: 106px;
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .circularBg {
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
        color: #d8e4f3 !important;
    }

    .circular {
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
        color: var(--color-primary) !important;
    }

    .value {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0.48px;
    }
}
.progressContainer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8e4f3;
    gap: 16px;
}
.progressText {
    color: #14214d;

    /* Desktop/Body */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
    letter-spacing: 0.32px;
}
.progressContainerSecond {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8e4f3;
    gap: 16px;
}
.progressContainerSecondAnalytics {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    gap: 16px;
}
.button {
    width: 138px;
    margin-top: 24px;
    margin-left: 40px;
    margin-bottom: 24px;
}
.analyticsSubname {
    color: #14214d;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    letter-spacing: 0.32px;
    margin-left: 20px;
    margin-top: 20px;
}
.buttonAnalytic {
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
}
.buttonMailing {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
}
.courseMailing {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #d8e4f3;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.32px;
    color: var(--color-primary);
    width: 100%;

    &:hover {
        background: #eff5fb;
    }

    &:has(.deleteButton:hover) {
        background: white;
    }

    .actions {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .deleteButton {
        margin-left: auto;
    }

    svg path {
        fill: currentColor;
    }
}
.mailingArray {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
