.button {
    color: var(--color-primary);
    padding: 8px;
    margin: -8px;
    border-radius: 50%;

    &:hover {
        color: var(--color-primary-hover);
        background: var(--color-hover-on-white-bg);
    }
}
