.drawer {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 100vh;
    background: var(--white-primary-active);
    border-radius: 0 4px 4px 0;
    box-shadow: 0 3px 8px 0 rgba(36, 36, 36, 0.12);
    transition: width var(--transform-transition);

    display: flex;
    align-items: center;

    &.open {
        width: 178px;
    }
}

.closeButton {
    position: absolute;
    top: 28px;
    right: 28px;
    padding: 4px 8px;
    border-radius: 8px;
    color: var(--black-primary-pale);

    &:hover {
        background: var(--white-primary-hover);
        color: var(--black-primary-hover);
    }

    svg path {
        fill: currentColor;
    }
}

.menu {
    width: 100%;
    padding: 20px;
}

.menuItem {
    position: relative;
    display: block;
    padding: 7px;
    border-radius: 4px;
    color: var(--black-primary-pale);
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;

    &:hover {
        background: var(--white-primary-hover);
        color: var(--black-primary-hover);
    }

    &.active {
        color: var(--black-primary-active);
    }
}

.triangle {
    position: absolute;
    top: 6px;
    left: -20px;
}
